<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>miniblog</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix {
        font-size: 20px;
    }

    .el-card__header {
        padding: 10px 5px 5px 5px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
</style>
<body>
<div id="app">
    <div style="display: flex;flex-wrap: wrap">
        <div v-for="(shoppinglist,index) in shoppinglists" style="margin-right: 30px;margin-bottom: 30px;">
            <div class="grid-content bg-purple" v-on:click="curIndex=index">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <input v-model="shoppinglist.name" style="font-size: 30px;border: none;width: 50%"
                               v-bind:key="index">
                        <el-button icon="el-icon-delete" type="text" style="float: right"
                                   v-on:click="deleteshoppinglist(shoppinglist.list_id)"></el-button>
                        <el-button icon="el-icon-check" style="float: right;" type="text"
                                   v-on:click="saveshoppinglist(shoppinglist)"></el-button>
                    </div>
                    <el-table
                            :data="shoppinglist.items"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="东西"
                                width="160">
                            <template slot-scope="scope">
                                <input v-model="scope.row.name"
                                       style="border: none;background: inherit;font-size: 15px;width: 150px">
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="价格"
                                width="150">
                            <template slot-scope="scope">
                                <input v-model="scope.row.price"
                                       style="border: none;background: inherit;font-size: 15px;width: 120px">
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="right"
                                prop="name"
                                label="操作">
                            <template slot="header" slot-scope="scope">
                                <el-button type="primary" size="small" plain
                                           v-on:click="additem(shoppinglist.list_id)">加东西
                                </el-button>
                            </template>
                            <template slot-scope="scope">
                                <el-button icon="el-icon-check" size="mini"
                                           v-on:click="additem(shoppinglist.list_id)"></el-button>
                                <el-button icon="el-icon-delete" size="mini"
                                           v-on:click="deleteitem(scope.row.item_id,shoppinglist.list_id)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </div>
        </div>

    </div>
    <el-button style="position: relative" type="primary" v-on:click="addshoppinglist">加清单</el-button>
</div>

</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        delimiters: ['{[', ']}'],
        mounted: function () {
            this.getshoppinglists()
        },
        data() {
            return {
                shoppinglists: [],
                curIndex: 0
            }
        },
        methods: {
            httpget: function (url, params) {
                let request = $.ajax({
                    url: url,
                    method: "GET",
                    data: params,
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json"
                });
                return request;
            },
            httpost: function (url, data) {
                console.log(data)
                let request = $.ajax({
                    url: url,
                    contentType: 'application/json',
                    method: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                });
                return request;
            },
            saveitem: function (item) {
                let that = this
                that.httpost('/item/save', item).done(function (data) {
                    that.getitemlists(item.list_id)
                })
            },
            saveshoppinglist: function (shoppinglist) {
                let that = this
                that.httpost('/shoppinglist/save', shoppinglist).done(function (data) {
                    that.getshoppinglists()
                })
            },
            getshoppinglists: function () {
                let that = this;
                that.httpget('/shoppinglists').done(function (data) {
                    that.shoppinglists = data.result
                });
            },
            getitemlists: function (list_id) {
                let that = this
                that.httpget('/item/list', {'list_id': list_id}).done(function (data) {
                    that.shoppinglists[that.curIndex] = data.result
                })
            },
            deleteshoppinglist: function (list_id) {
                let that = this
                that.httpget('/shoppinglist/delete', {'list_id': list_id}).done(function (data) {
                    that.getshoppinglists()
                })
            },
            deleteitem: function (item_id, list_id) {
                console.log(item_id, list_id)
                if (item_id==null){

                }
                that.httpget('/item/delete', {'item_id': item_id}).done(function (data) {
                    that.getitemlists(list_id)
                })
            },
            additem: function (list_id) {
                let that = this
                if (that.shoppinglists[that.curIndex].items == null) {
                    that.shoppinglists[that.curIndex].items = [{
                        'name': null,
                        'price': null,
                        'list_id': list_id,
                        'item_id': null
                    }]
                } else {
                    that.shoppinglists[that.curIndex].items.push({
                        'name': null,
                        'price': null,
                        'list_id': list_id,
                        'item_id': null
                    })
                }

            },
            addshoppinglist: function () {
                let that = this
                that.httpost('/shoppinglist/save', {'name': null}).done(function (data) {
                    that.getshoppinglists()
                })
            }

        }
    };
    let Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')
</script>
</html>