<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>miniblog</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix {
        font-size: 20px;
    }

    .el-card__header {
        padding: 10px 5px 5px 5px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
</style>
<body>
<div id="app">
    <el-row :gutter="10">
        <div v-for="shoppinglist in shoppinglists">
            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                <div class="grid-content bg-purple">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <input v-model="shoppinglist.name" style="font-size: 30px;border: none;width: 50%">
                            <el-button icon="el-icon-delete" type="text" style="float: right"></el-button>
                            <el-button icon="el-icon-check" style="float: right;" type="text"></el-button>
                        </div>
                        <el-table
                                :data="shoppinglist.items"
                                stripe
                                style="width: 100%">
                            <el-table-column
                                    prop="name"
                                    label="东西"
                                    width="160">
                                <template slot-scope="scope">
                                    <input v-model="scope.row.name"
                                           style="border: none;background: inherit;font-size: 15px;width: 150px">
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="价格"
                                    width="150">
                                <template slot-scope="scope">
                                    <input v-model="scope.row.price"
                                           style="border: none;background: inherit;font-size: 15px;width: 120px">
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="操作">
                                <template slot-scope="scope">
                                    <el-button icon="el-icon-check" size="mini" on-click=""></el-button>
                                    <el-button icon="el-icon-delete" size="mini"></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                </div>
            </el-col>
        </div>
    </el-row>
</div>

</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        delimiters: ['{[', ']}'],
        mounted: function () {
            this.getshoppinglists()

        },
        data() {
            return {
                shoppinglists: []
            }
        },
        methods: {
            httpget: function (url, params) {
                let request = $.ajax({
                    url: url,
                    method: "GET",
                    data: params,
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json"
                });
                return request;
            },
            httpost: function (url, data) {
                let request = $.ajax({
                    url: url,
                    method: "POST",
                    data: data,
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json"
                });
                return request;
            },
            saveitem: function (item) {
                let that = this
                that.httpost()
                pass
            },
            getshoppinglists: function () {
                let that = this;
                that.httpget('/shoppinglists').done(function (data) {
                    that.shoppinglists = data.result
                });
            }

        }
    };
    let Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')
</script>
</html>